<h1 style="color:white;background-color:#525D76;font-size:22px;">
	アプリケーション・ログイン</h1>
<form method="POST" action="{$base}/auth/process">
<table border="0" align="center">
	<tr>
		<th align="right">ユーザ名：</th>
		<td><input type="text" name="uid" size="10" maxlength="15" /></td>
	</tr><tr>
		<th align="right">パスワード：</th>
		<td><input type="password" name="passwd" size="10" maxlength="15" /></td>
	</tr><tr>
		<td rowspan="2"><input type="submit" name="submit" value="ログイン" /></td>
	</tr>
</table>
</form>
