<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>キャンペーン情報２</title>
<style type="text/css">
<!--
body { font-family: Osaka, メイリオ, sans-serif; }
h2 { border-left: 12px solid #009933; border-bottom: 2px solid #009933; padding-left:10px; }
#content { margin-left:20px; }
span { color:#E61980; }
-->
</style>
</head>
<body>
<h2>キャンペーン情報 第２弾！</h2>
<div id="content">
<p>会員さまだけにご案内するとっておきのキャンペーン情報です。</p>
<p>当店では入手困難なあの幻の<br>
<span>「高級プレミアムアイスクリーム」</span>を<br>
独占的に入手いたしました！</p>
<form method="post" action="p41auth1.php">
<input type="submit" value="キャンペーン情報１を見る">
</form>
<form method="post" action="p41login.php">
<input type="submit" name="logout" value="ログアウト">
</form>
</div>
</body>
</html>
